.result-screen {
    width: 90%;
    margin: 40px auto;
}

.main-stats {
    float: left;
    width: 120px;
}

.stat-title {
    font-size: 28px;
    font-weight: bold;
    color: #666
}

.stat-value {
    font-size: 64px;
    font-weight: bold;

    color: #d59321;
}

.chart {
    margin-left: 140px;
    height: 220px;
    border: 1px solid #d59321;
}

.other-stats {
    clear: both;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 40px;

}

.other-stats div div:last-child {
    color: #facc15;
    font-size: 24px;
}

#restart {
    display: block;
    margin: 100px auto;
}