.counter {
    color: #d59321;
    font-size: 32px;

    position: absolute;
    top: 240px;
    transform: translateX(-50%);
}

.text {
    min-height: 200px;
    border-radius: 10px;
    width: min(1000px, 90vw);
    gap: 20px;
    margin: 0 auto 0;

    background: #3a3936;
    line-height: 1.6;
    letter-spacing: 1px;
}

.word{
    white-space: nowrap;
    margin-right: 0.45em;
}

.char{
    display: inline-block;
    font-size: 32px;
    opacity: 0.35;
}

.char.current{
    opacity: 0.35;
    box-shadow: -4px 0 0 #b2801c;
}

.char.correct{
    opacity: 1;
}

.char.wrong{
    opacity: 1;
    color: #871e17;
    box-shadow: 0 4px 0 #871e17;
}

.mode-switcher {
    display: flex;
    justify-content: center;
    margin: 20px auto;

    gap: 10px;
}

.group-btn {
    background: #2f2e2c;

    padding: 5px;
    border-radius: 10px;
}

.group-btn.active {
    opacity: 0.8;
    color: #d59321;
}

button {
    background: #2f2e2c;
    border-color: #2f2e2c;
    color: oldlace;
    cursor: pointer;

    border-width: 0;
    padding: 10px 20px;
    font-size: 16px;
    opacity: 0.4;
}

button:hover {
    color: #d59321;
    opacity: 0.8;
}

button.btn-mode.active {
    opacity: 0.8;
    color: #d59321;
}

select {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    padding: 5px;
    font-size: 16px;

    background: #3a3936;
    border-color: #3a3936;
    color: oldlace;

    opacity: 0.4;
}

select:hover {
    opacity: 0.8;
    border-color: #3a3936;
}

select:focus,
button:focus,
input:focus {
    outline: none;
}